extends layout

block content
    h1= title
    form(name="add-estimation", method="post")
        div.input
            span.label Введите слово для проверки на палиндром: 
            input(type="text", name="word_from_input")
        div.actions
            input(type="submit", value="Отправить")